<!-- </div>/.container -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<!-- Default Statcounter code for Raspberry Sky
        http://raspberrysky.hopto.org/ -->
<script type="text/javascript">
    var sc_project = 12444118;
    var sc_invisible = 1;
    var sc_security = "b9d9cf12"; 
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
    <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
                class="statcounter" src="https://c.statcounter.com/12444118/0/b9d9cf12/1/" alt="Web Analytics"></a>
    </div>
</noscript>
<!-- End of Statcounter Code -->
</body>
<footer class="text-center">
    <p>&copy; <%= (new Date()).getFullYear() %> Alan Van Art</p>
</footer>

</html>