<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaspBerrySky</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- <meta http-equiv="refresh" content="300"> -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a79a31fee9.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script src="scripts/gauge.min.js"></script>
    <script src="scripts/scripts.js"></script>
    
    <link rel="stylesheet" href="styles/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
        <a class="navbar-brand" href="/">RaspBerrySky</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard#dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        History
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/hourly">Hourly</a>
                        <a class="dropdown-item" href="/daily">Daily</a>
                        <a class="dropdown-item" href="/weekly">Weekly</a>
                        <a class="dropdown-item" href="/monthly">Monthly</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"  
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/resume" target="_blank">
                            Resume
                        </a>
                        <a class="dropdown-item" href="/about">About this site</a>
                    </div>
                </li>
            </ul>
            <span class="icon mr-2">
                <span id="header-temp"><%= temp.toFixed(1) %>° F</span> <i class="fas fa-thermometer-half"></i>
            </span>
            <div>
                <a href="https://twitter.com/intent/tweet?button_hashtag=raspberrysky&ref_src=twsrc%5Etfw"
                    class="twitter-share-button" data-size="large"
                    data-text="The temperature is <%= temp %>&#176;F over at "
                    data-url="http://raspberrysky.hopto.org" data-show-count="false"></a>
            </div>
        </div>
    </nav>
    
    <!-- <div class="container"> -->