<!DOCTYPE html>
<html>

<head>
    <title>Raspberry Sky</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>

<body>

    <div id="landing-header">
        <div class="col-8 col-lg-8 mx-auto">
            <div class="pl-5 mx-auto">
                <img src="images/rsky_wht.svg" class="float-left mr-3" width="90" style="width: 5.5em;" alt="">
                <h3 class="display-5">Welcome to...</h3>
                <h1 class="display-4">Raspberry Sky!</h1>
            </div>
            <div class="text-center mx-auto">
                <a href="/dashboard" class="btn btn-lg btn-success text-center">View the Dashboard</a>
            </div>
        </div>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include("partials/footer") %>