body {
    font-family: 'Manrope', sans-serif;
}

.navbar {
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/berries.jpg'); */
    background-image: linear-gradient(rgba(241, 180, 221, 0.65), rgba(241, 180, 221, 0.65)), url('../images/raspberries-header-1500x300.jpg');
    /* opacity: 0.2; */
    color: black;
    background-size: cover;
    background-position: center;
    font-weight: medium;
}

.shadow-pi {
    box-shadow: 0 .5rem 1rem rgba(244,66,185,.15)!important;
}

/*-- header --*/
/* .description {
  background-image: url('../images/berries.jpg');
  background-size: cover;
  height: 100%;
} */

/* .btn-danger {
    background: rgb(255, 0, 157, 0.5);
} */

.btn-danger:hover {
    background: rgb(195, 0, 255, 0.5);
}

.icon {
    font-size: 1.65em;
}

.icon-lg {
    font-size: 2.5em;
}

a.icon, a.icon-lg {
    color: rgb(192, 192, 192);
    text-decoration: none;
}

a.icon:visited, a.icon-lg:visited {
    color: rgb(192, 192, 192);
}

.input-group-text {
    font-size: 1.55em;
}

#dashboard {
    padding-top: 6%;
    margin-top: 6%;
}

.card-body h3 {
    margin-top: 0;
}

#row-0 {
    margin-bottom: 100px;
}

/* #hourly-title {
    margin-top: 6%;
} */

.jumbotron {
    margin-top: 10%;
}

#modal-text {
    white-space: pre;
}

.navbar-collapse {
    max-height:auto;
}

@media only screen and (max-width: 750px) {
    .jumbotron {
        margin-top: 13%;
    }

    #dashboard {
        padding-top: 2%;
        margin-top: -10%;
    }
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        margin-top: 20%;
    }

    #dashboard {
        padding-top: 2%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 300px) {
    .jumbotron {
        margin-top: 25%;
    }

    #dashboard {
        padding-top: 0%;
        margin-top: -5%;
    }
}