body {
    font-family: 'Manrope', sans-serif;
}

#icon {
    font-size: 1.65em;
}

.input-group-text {
    font-size: 1.55em;
}

#dashboard {
    padding-top: 6%;
    margin-top: 6%;
}

.card-body h3 {
    margin-top: 0;
}

#row-0 {
    margin-bottom: 100px;
}

/* #hourly-title {
    margin-top: 6%;
} */

.jumbotron {
    margin-top: 10%;
}

#modal-text {
    white-space: pre;
}

.navbar-collapse {
    max-height:auto;
}

@media only screen and (max-width: 750px) {
    .jumbotron {
        margin-top: 13%;
    }

    #dashboard {
        padding-top: 2%;
        margin-top: -10%;
    }
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        margin-top: 20%;
    }

    #dashboard {
        padding-top: 2%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 300px) {
    .jumbotron {
        margin-top: 25%;
    }

    #dashboard {
        padding-top: 0%;
        margin-top: -5%;
    }
}