body {
    font-family: 'Manrope', sans-serif;
}

.navbar {
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/berries.jpg'); */
    background-image: linear-gradient(rgba(241, 180, 221, 0.65), rgba(241, 180, 221, 0.65)), url('../images/raspberries-header-1500x300.jpg');
    /* opacity: 0.2; */
    color: black;
    background-size: cover;
    background-position: center;
    font-weight: medium;
}

.shadow-pi {
    box-shadow: 0 .5rem 1rem rgba(244,66,185,.15)!important;
}

.btn-danger:hover {
    background: rgb(195, 0, 255, 0.5);
}

.icon i {
    font-size: 1.65em;
}

.icon-lg {
    font-size: 2.5em;
}

a.icon, a.icon-lg {
    color: rgb(192, 192, 192);
    text-decoration: none;
}

a.icon:visited, a.icon-lg:visited {
    color: rgb(192, 192, 192);
}

.input-group-text {
    font-size: 1.55em;
}

#header-temp {
    font-family: 'Manrope', sans-serif;
    font-size: 1.25rem;
    
}

#dashboard {
    padding-top: 6%;
    margin-top: 6%;
}

.card-body h3 {
    margin-top: 0;
}

#row-0 {
    margin-bottom: 100px;
}

.page-top {
    margin-top: 10%;
}

#modal-text {
    white-space: pre;
}

.navbar-collapse {
    max-height:auto;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-caption {
    background-color: rgba(200,200,200,0.4);
    border-radius: 50px;
}

/* Google Maps */
#map {
    min-height: 340px;
    /* width: 400px; */
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .page-top {
        margin-top: 13%;
    }

    #dashboard {
        padding-top: 2%;
        margin-top: -10%;
    }
}

@media only screen and (max-width: 500px) {
    .page-top {
        margin-top: 20%;
    }

    #dashboard {
        padding-top: 2%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 300px) {
    .page-top {
        margin-top: 25%;
    }

    #dashboard {
        padding-top: 0%;
        margin-top: -5%;
    }
}